body {
    
    text-align: center;
    
}

.opening {
    font-size: 35px;
    color: #c32f27;
}
.direction {
    color: #c32f27;
    margin-top: 50px;
}
.name{
    width: 300px;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size:25px;
}
.name:focus{
    border-color: orangered;
}
.name-button {
    width: 300px;
    height: 50px;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 300px;
    background-color: #e85d04;
}

.win-button {
    width: 300px;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 300px;
    background-color: #29bf12;
}

#trophy {
    font-size: 100px;
    color: gold;
    margin-top: 50px;
    margin-bottom: 50px;
}
